<header class="fixed-top">
  <div class="col-12 d-flex px-4" id="header">
    <p class="h1 align-self-center py-3 my-2 font-weight-bold"><i class="fas fa-phone mr-2"></i>Phone Book</p>
  </div>
  <nav class="col-12  navbar navbar-expand-md navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/">Home<span class="sr-only"></span></a>
        </li>
        <!-- <li class="nav-item">
                     <a class="nav-link" href="#">Link</a>
                  </li> -->
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/important" tabindex="-1" aria-disabled="true">Important Numbers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" routerLink="/phonebook" tabindex="-1" aria-disabled="true">Phone book</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
