<main class="row">
	<div class="d-flex" id="hero">
		<div class="offset-3 align-self-center font-weight-bold" id="hello">Welcome!<br> to my Phone Book App!</div>		
	</div>

	<div class="row mt-4 mx-auto d-flex justify-content-around" id="box">
		<a class="col-12 col-md-5 col-lg-5 my-3 p-3 card" routerLink="/important">		
			<div class="h4">Important Numbers</div>
			<p>Here you can find a list of important numbers in case of emergency.</p>		
		</a>
		

		<a class="col-12 col-md-5 col-lg-5 my-3 p-2 card" routerLink="/phonebook">
			<div class="h4">Personal Numbers</div>
			<p>Here you can create your own list of numbers. This list can be updated continuously by adding, editing or deleting numbers. It also includes a search function.</p>
		</a>
	</div>
</main>
